.navimg{
    width: 100%;
}
.btn-sign{
    padding: 6px  20px;
    outline: none;border: none;
    border-radius: 5px;
    
}
.log-icon{
    display: flex;
    /* padding: 10px; */
    margin-top: 5px;
    /* margin-left: px; */
    position: absolute;
    right: 10px;
    align-items: center;
}
.uname{
    margin: 0;
}
/* .log-icon p{
    margin: 0;
} */